In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
install.packages("magrittr")
install.packages("purrr")
install.packages("glue")
install.packages("stringr")

The downloaded binary packages are in
	/var/folders/_n/9xvdch1x48x0yw5djjygcgsw0000gn/T//Rtmp6OpVhQ/downloaded_packages

The downloaded binary packages are in
	/var/folders/_n/9xvdch1x48x0yw5djjygcgsw0000gn/T//Rtmp6OpVhQ/downloaded_packages

The downloaded binary packages are in
	/var/folders/_n/9xvdch1x48x0yw5djjygcgsw0000gn/T//Rtmp6OpVhQ/downloaded_packages

The downloaded binary packages are in
	/var/folders/_n/9xvdch1x48x0yw5djjygcgsw0000gn/T//Rtmp6OpVhQ/downloaded_packages

In [5]:
install.packages("rvest")

The downloaded binary packages are in
	/var/folders/_n/9xvdch1x48x0yw5djjygcgsw0000gn/T//Rtmp9GAIOH/downloaded_packages

In [7]:
remotes::install_github("dmi3kno/polite")

Skipping install of 'polite' from a github remote, the SHA1 (def0def9) has not changed since last install.
  Use `force = TRUE` to force installation

In [10]:
install.packages("xml2")

The downloaded binary packages are in
	/var/folders/_n/9xvdch1x48x0yw5djjygcgsw0000gn/T//Rtmp6OpVhQ/downloaded_packages

In [50]:
library(rvest) # rvest makes scraping easier

In [48]:
library(polite) # polite is the "polite" version of rvest

In [52]:
movie_titles_url <- "https://www.the-numbers.com/movie/budgets/all" # this is the base url from where the scraping starts

page_title <- read_html(movie_titles_url)
page_title

{html_document}
<html>
[1] <head>\n<!-- Global site tag (gtag.js) - Google Analytics --><script asyn ...
[2] <body>\n\r\n<script>\r\n  window.fbAsyncInit = function() {\r\n    FB.ini ...

In [160]:
mylist <- list() #Create a list to house all the urls 
for (page in seq(1:56)) { #loop through to get to 5001 adding it to the end of the url 
    #adde the url to the list
    mylist <- c(mylist,as.character(paste0("https://www.the-numbers.com/movie/budgets/all/" , ((page - 1)* 100) + 1)))
}
#sanity check
mylist[1]

[[1]]
[1] "https://www.the-numbers.com/movie/budgets/all/1"

In [161]:
#Might take a while to run
movie_titles_list <- list() #Create list to house the lists of nodes
for(i in mylist){
    page_html <- read_html(i) #read in the url and turn it into html
    table_nodes <- page_html %>% html_nodes("table") %>% html_table() # Get the table in the html and make a list row out of it
    movie_titles_list <- append(movie_titles_list,table_nodes) #Append the table nodes to the list
}
#Check that something was obtained
length(movie_titles_list)

[1] 56

In [193]:
#Setting from and setting to, it is bad practice to have magic numbers in code and can lead to mistakes
from <- 2
to <- length(movie_titles_list)
df <- data.frame(movie_titles_list[1]) #create the first dataframe
for (i in from:to){ #start from 2 as use has been processed already
    temp <- data.frame(movie_titles_list[i]) #create a temporary dataframe
    df <- rbind(df,temp) #Using rbind the data can be merge vertically
}

In [198]:
names(df)[names(df) == 'Var.1'] <- 'Rank' # change the variable to something useful, found how to do this from https://stackoverflow.com/questions/7531868/how-to-rename-a-single-column-in-a-data-frame second answer. 
#The following functions have used this link as a reference: https://stackoverflow.com/questions/31944103/convert-currency-with-commas-into-numeric
df$ProductionBudget <- as.numeric(gsub('[$,]', '', df$ProductionBudget))
df$DomesticGross <- as.numeric(gsub('[$,]', '', df$DomesticGross))
df$WorldwideGross <- as.numeric(gsub('[$,]', '', df$WorldwideGross))
df <- na_if(df, 0)
df

     Rank  ReleaseDate  Movie
1    1     Dec 17, 2009 Avatar
2    2     May 20, 2011 Pirates of the Caribbean: On Stranger Tides
3    3     Apr 23, 2019 Avengers: Endgame
4    4     Jun 5, 2019  Dark Phoenix
5    5     Apr 22, 2015 Avengers: Age of Ultron
6    6     Dec 13, 2017 Star Wars Ep. VIII: The Last Jedi
7    7     Dec 16, 2015 Star Wars Ep. VII: The Force Awakens
8    8     Apr 25, 2018 Avengers: Infinity War
9    9     May 24, 2007 Pirates of the Caribbean: At World’s End
10   10    Nov 13, 2017 Justice League
11   11    Oct 6, 2015  Spectre
12   12    Jul 19, 2012 The Dark Knight Rises
13   13    May 23, 2018 Solo: A Star Wars Story
14   14    Jul 2, 2013  The Lone Ranger
15   15    Mar 7, 2012  John Carter
16   16    Nov 24, 2010 Tangled
17   17    May 4, 2007  Spider-Man 3
18   18    Apr 22, 2016 Captain America: Civil War
19   19    Mar 23, 2016 Batman v Superman: Dawn of Justice
20   20    Dec 11, 2012 The Hobbit: An Unexpected Journey
21   21    Jul 15, 2009 Harry Potter and the Half-Blood Prince
22   22    Dec 13, 2013 The Hobbit: The Desolation of Smaug
23   23    Dec 10, 2014 The Hobbit: The Battle of the Five Armies
24   24    Apr 7, 2017  The Fate of the Furious
25   25    Jun 28, 2006 Superman Returns
26   26    May 23, 2017 Pirates of the Caribbean: Dead Men Tell No Tales
27   27    Nov 14, 2008 Quantum of Solace
28   28    Apr 25, 2012 The Avengers
29   29    Jul 7, 2006  Pirates of the Caribbean: Dead Man’s Chest
30   30    Jun 14, 2013 Man of Steel
⋮    ⋮     ⋮            ⋮
5571 5,571 May 16, 1980 Home Movies
5572 5,572 Jul 27, 2001 Jackpot
5573 5,573 Dec 10, 2004 Fabled
5574 5,574 Oct 13, 2005 The Dark Hours
5575 5,575 Dec 19, 1973 Viskningar och rop
5576 5,576 Apr 1, 1986  My Beautiful Laundrette
5577 5,577 Nov 4, 2005  Show Me
5578 5,578 Unknown      Pancakes
5579 5,579 Sep 5, 1916  Intolerance
5580 5,580 Feb 1, 1929  The Broadway Melody
5581 5,581 Apr 15, 1983 The Evil Dead
5582 5,582 May 21, 1999 Trekkies
5583 5,583 1980         Maniac
5584 5,584 1987         American Ninja 2: The Confrontation
5585 5,585 Jul 8, 2005  Murderball
5586 5,586 Sep 1, 2010  My Dog Tulip
5587 5,587 Oct 18, 2006 51 Birch Street
5588 5,588 Nov 15, 2002 Revolution#9
5589 5,589 Apr 10, 2009 Royal Kill
5590 5,590 Oct 20, 2015 Rotor DR1
5591 5,591 Apr 13, 1957 12 Angry Men
5592 5,592 Oct 17, 1978 Halloween
5593 5,593 Feb 22, 1934 It Happened One Night
5594 5,594 Jun 25, 2010 Kynodontas
5595 5,595 Nov 24, 1999 Tumbleweeds
5596 5,596 Nov 14, 2003 Tupac Resurrection
5597 5,597 Mar 10, 2000 God's Army
5598 5,598 Oct 17, 2003 Pieces of April
5599 5,599 Sep 20, 1996 When The Cat's Away
5600 5,600 Dec 10, 2008 Wendy and Lucy
     ProductionBudget DomesticGross WorldwideGross
1    425000000        760507625     2789705275
2    410600000        241063875     1045663875
3    400000000        858373000     2795473000
4    350000000         65845974      246356895
5    330600000        459005868     1403013963
6    317000000        620181382     1316721747
7    306000000        936662225     2053311220
8    300000000        678815482     2048134200
9    300000000        309420425      963420425
10   300000000        229024295      655945209
11   300000000        200074175      879620923
12   275000000        448139099     1084439099
13   275000000        213767512      393151347
14   275000000         89302115      260002115
15   275000000         73058679      282778100
16   260000000        200821936      586477240
17   258000000        336530303      894860230
18   250000000        408084349     1140069413
19   250000000        330360194      867500281
20   250000000        303003568     1017003568
21   250000000        302089278      935213767
22   250000000        258366855      960366855
23   250000000        255119788      945577621
24   250000000        225764765     1234846267
25   232000000        200120000      374085065
26   230000000        172558876      788241137
27   230000000        169368427      591692078
28   225000000        623279547     1517935897
29   225000000        423315812     1066215812
30   225000000        291045518      667999518
⋮    ⋮                ⋮             ⋮
5571 400000              89134         89134
5572 400000              44452         44452
5573 400000              31425         31425
5574 400000                423           423
5575 400000                 NA          9071
5576 400000                 NA            NA
5577 400000                 NA            NA
5578 400000                 NA            NA
5579 385907                 NA            NA
5580 379000            2800000       4358000
5581 375000            2400000      29400000
5582 375000             617172        617172
5583 350000           10000000      10000000
5584 350000            4000000       4000000
5585 350000            1531154       1772979
5586 350000             246574        310891
5587 350000              84689         84689
5588 350000               9118          9118
5589 350000                 NA            NA
5590 350000                 NA            NA
5591 340000                 NA            NA
5592 325000           47000000      70000000
5593 325000            2500000       2500000
5594 323000             110248       1373407
5595 312000            1350248       1788168
5596 300000            7718961       7808524
5597 300000            2637726       2652515
5598 300000            2528664       3571253
5599 300000            1652472       2525984
5600 300000             865695       1416046